@media (max-width: 1660px) {
  .footer__contacts {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px;
  }
  .footer__contacts .addres {
    margin-bottom: 10px;
  }
  .footer__contacts .specialist__wrap {
    margin: 0;
  }
  .footer__contacts .specialist__wrap .specialist span {
    font-size: 18px;
    color: #ffffff;
  }
}
@media (max-width: 1500px) {
  .pagenav__links .link li a {
    font-size: 10px;
  }
  .pagenav__links .link li a:hover {
    font-size: 12px;
    color: #f3e10f;
  }
}
@media (max-width: 1155px) {
  .description {
    padding: 0;
    margin: 15px;
  }
  .description__img {
    width: 100%;
    height: 100%;
  }
  .sentence {
    padding: 0;
    margin: 15px;
  }
  .sentence .sentence__version {
    margin: 15px;
  }
  .sentence .sentence__img .sentence__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .sentence .sentence__img .sentence__img-flex .img-container {
    width: 480px;
    height: 300px;
  }
  .hybrids {
    padding: 15px;
  }
  .hybrids h2 {
    font-size: 20px;
  }
  .pricelist {
    padding: 0 15px 15px 15px;
  }
  .payback {
    padding: 15px 15px 0 15px;
  }
  .payback .payback__img .payback__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .payback .payback__img .payback__img-flex .img-container {
    width: 480px;
    height: 300px;
  }
  .payback .payback__img .payback__img-flex .img-container img {
    display: block;
    object-fit: fill;
    width: 100%;
    max-height: 100%;
  }
  .hybrids .hybrids__img .hybrids__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .hybrids .hybrids__img .hybrids__img-flex .img-container {
    width: 480px;
    height: 300px;
  }
  .autonomous {
    padding: 0 15px;
  }
  .autonomous__title h2 {
    font-size: 20px;
  }
  .autonomous p {
    font-size: 16px;
  }
  .img {
    padding: 0 15px 15px 15px;
  }
  .img__wrap h2 {
    font-size: 20px;
  }
  .img__wrap .img__wrap-flex {
    display: flex;
    justify-content: space-around;
  }
  .img__wrap .img__wrap-flex .img-container {
    width: 480px;
    height: 300px;
  }
  .pump {
    padding: 15px 15px 0 15px;
  }
  .pump__img {
    padding: 0;
  }
  .pump__img .pump__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .pump__img .pump__img-flex .img-container {
    width: 480px;
    height: 300px;
  }
  .pump__house .pump__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .pump__house .pump__img-flex .img-container {
    margin: 5px 0;
    text-align: center;
    width: 480px;
    height: 330px;
  }
  .groundwater {
    padding: 0 15px;
  }
  .groundwater__list {
    margin-bottom: 15px;
  }
  .groundwater__mounting h2 {
    margin: 0;
  }
  .groundwater__table {
    margin: 0;
  }
  .groundwater__mounting .groundwater__mounting-manual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .groundwater__mounting .groundwater__mounting-manual .manual {
    width: 370px;
    height: 100%;
  }
  .groundwater__mounting .groundwater__mounting-manual .manual .manual-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .groundwater__mounting .groundwater__mounting-manual .manual .manual-img img {
    width: 100%;
    height: 300px;
  }
  .groundwater__mounting .groundwater__mounting-manual .manual .manual-text {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .groundwater__mounting .groundwater__mounting-manual .manual .manual-text p {
    margin: 0;
    text-align: center;
  }
  .aboutus {
    padding: 0 15px;
  }
}
@media (max-width: 1000px) {
  .pagenav__links .link {
    max-width: 600px;
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .pagenav__links .link li {
    border: 1px solid white;
    padding: 10px 0;
    margin: 10px 10px;
  }
  .pagenav__links .link li a {
    font-size: 12px;
    letter-spacing: 3px;
  }
  .pagenav__links .link li a:hover {
    font-size: 14px;
  }
  .payback .payback__img .payback__img-flex .img-container {
    width: 390px;
    height: 250px;
  }
  .payback .payback__img .payback__img-flex .img-container img {
    display: block;
    object-fit: fill;
    width: 100%;
    max-height: 100%;
  }
  .hybrids .hybrids__img .hybrids__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .hybrids .hybrids__img .hybrids__img-flex .img-container {
    width: 390px;
    height: 250px;
  }
  .img__wrap .img__wrap-flex {
    display: flex;
    justify-content: space-around;
  }
  .img__wrap .img__wrap-flex .img-container {
    width: 390px;
    height: 250px;
  }
  .pump__img .pump__img-flex .img-container {
    width: 390px;
    height: 250px;
  }
  .pump__house .pump__img-flex .img-container {
    margin: 5px 0;
    text-align: center;
    width: 390px;
    height: 250px;
  }
}
@media (max-width: 950px) {
  .header .nav {
    width: 100%;
    height: 80px;
  }
  .header .nav .nav__navigation .menu li {
    margin: 10px;
  }
  .header .nav .nav__navigation .menu li a {
    font-size: 16px;
  }
  .sentence .sentence__img .sentence__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .sentence .sentence__img .sentence__img-flex .img-container {
    width: 360px;
    height: 250px;
    margin-bottom: 10px;
  }
  .sentence .sentence__img .sentence__img-flex .img-container img {
    display: block;
    object-fit: fill;
    width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 900px) {
  .header .telephones {
    flex-direction: column;
    justify-content: center;
  }
  .header .telephones .contact {
    margin-top: 15px;
  }
}
@media (max-width: 840px) {
  .pump__img .pump__img-flex .img-container {
    width: 350px;
    height: 250px;
  }
  .pump__house .pump__img-flex .img-container {
    width: 350px;
    height: 250px;
  }
}
@media (max-width: 810px) {
  .table {
    font-size: 14px;
  }
  .sentence__block {
    margin-bottom: 15px;
  }
  .sentence__block .subtitle {
    width: 200px;
    height: 140px;
  }
  .sentence__block .subtitle a {
    font-size: 16px;
    margin: 5px;
  }
  .payback .payback__img .payback__img-flex .img-container {
    width: 290px;
    height: 200px;
  }
  .hybrids .hybrids__img .hybrids__img-flex {
    display: flex;
    justify-content: space-around;
  }
  .hybrids .hybrids__img .hybrids__img-flex .img-container {
    width: 390px;
    height: 250px;
    margin-bottom: 5px;
  }
  .img__wrap .img__wrap-flex .img-container {
    margin-bottom: 5px;
  }
  .groundwater__mounting .groundwater__mounting-manual {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .groundwater__mounting .groundwater__mounting-manual .manual {
    width: 350px;
    height: 100%;
  }
}
@media (max-width: 790px) {
  .header .nav {
    width: 100%;
    height: 60px;
  }
  .header .nav .nav__navigation .menu li {
    margin: 0 10px;
  }
  .header .nav .nav__navigation .menu li a {
    font-size: 14px;
  }
  .sentence__img .sentence__img-flex .img-container {
    width: 360px;
    height: 250px;
  }
  .payback .payback__img .payback__img-flex .img-container {
    width: 360px;
    height: 250px;
  }
}
@media (max-width: 750px) {
  .pump__img h2 {
    font-size: 20px;
  }
  .pump__img .pump__img-flex .img-container {
    width: 410px;
    height: 290px;
  }
  .pump__house {
    padding: 15px 0 0 0;
  }
  .pump__house .pump__house-subtitle p {
    font-size: 18px;
  }
  .pump__house .pump__img-flex .img-container {
    width: 410px;
    height: 280px;
  }
  .pump__house .pump__img-flex .img-container img {
    width: 100%;
    height: 260px;
  }
}
@media (max-width: 719px) {
  .table {
    font-size: 12px;
  }
  .header .nav {
    width: 100%;
    height: 100%;
  }
  .header .nav .nav__navigation .menu li {
    margin: 10px 10px;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border: 1px solid black;
  }
  .header .nav .nav__navigation .menu li a {
    border: none;
    font-size: 14px;
  }
  .header .nav .nav__navigation .menu li a:hover,
  .header .nav .nav__navigation .menu li #blue:hover,
  .header .nav .nav__navigation .menu li #yellow:hover,
  .header .nav .nav__navigation .menu li #red:hover {
    border: none;
    font-size: 15px;
  }
  .header .nav .nav__navigation .menu li:hover {
    color: #fff917;
    border: 1px #fff917 solid;
  }
  .sentence__img .sentence__img-flex .img-container {
    margin: 5px 0;
    width: 290px;
    height: 200px;
  }
  .hybrids__scheme .hybrids__scheme-img {
    height: auto;
  }
}
@media (max-width: 690px) {
  .arrowup {
    bottom: 2%;
    right: 2%;
    background: transparent;
  }
  .arrowup img {
    width: 40px;
    height: 40px;
  }
  .sentence__title h2 {
    margin: 0;
  }
  .sentence__block {
    margin: 0;
    display: inline-block;
  }
  .sentence__block .subtitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
  }
  .sentence__block .subtitle a {
    font-size: 16px;
    margin: 5px;
  }
  .sentence__block .subtitle:hover,
  .sentence__block #colorone:hover,
  .sentence__block #colorsecond:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@media (max-width: 660px) {
  .payback__options-table,
  .groundwater__table,
  .tableblock {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
  }
  .payback__options-table .table,
  .groundwater__table .table,
  .tableblock .table {
    width: auto;
  }
  .groundwater__mounting h2 {
    font-size: 20px;
  }
  .aboutus__forms .form {
    display: inline-block;
    justify-content: center;
  }
  .aboutus__forms .form .form-data {
    margin-bottom: 15px;
  }
  .aboutus__forms .form .form-textarea {
    margin: 0;
    width: 265px;
  }
  .aboutus__forms .form .form-but {
    margin: 15px 0;
  }
}
@media (max-width: 480px) {
  .header .telephones {
    padding: 15px;
  }
  .header .telephones .logo .logo-img {
    width: 130px;
    height: 50px;
  }
  .header .telephones .logo .logo-name {
    font-size: 20px;
  }
  .header .telephones .logo .logo-name:hover {
    text-shadow: none;
  }
  .header .telephones .contact .phone span {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .header .telephones {
    padding: 10px;
  }
  .header .telephones .logo .logo-img {
    width: 110px;
    height: 50px;
  }
  .header .telephones .logo .logo-name {
    font-size: 18px;
  }
  .header .telephones .contact .phone {
    margin-right: 5px;
  }
  .header .telephones .contact .phone span {
    font-size: 11px;
  }
  .footer__avtor {
    padding: 10px;
  }
  .footer__avtor .text {
    font-size: 14px;
  }
  .footer__avtor span {
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .footer__avtor {
    padding: 10px;
  }
  .footer__avtor .text {
    font-size: 14px;
  }
  .footer__avtor span {
    font-size: 14px;
  }
}
